header {
    justify-content: space-evenly;
    background-color: #012E59;
    color: white;
    padding: 15px 0;
    height: 50px;
}

header input,
header input::after {
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: none;
    padding: 10px 20px;
}

.div-search {
    width: 30%;
}

#search {
    width: 100%;
}

.logo {
    height: 40px;
}

.item-header {
    height: 30px;
}

.find {
    height: 40.27px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #ffffff;
    /* border-block-color: inherit; */
    border-style: hidden;
    padding-right: 5px;
}

.user img {
    margin-right: 15px;
}

.cart {
    border-radius: 55px;
    background-color: #012E59;
    border: none;
    transition: filter 0.2s;
    height: 50px;
    width: 55px;
}

.cart:hover {
    filter: brightness(0.9);
}

#cart-length {
    background-color: yellow;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}