.content-table {
    width: 80%;
    margin: 20px;
}

table {
    width: 100%;
    text-align: center;
    background-color: #C1E7F0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-spacing: 0;
}

table tr {
    height: 35px;
}

table td {
    background-color: #ffffff;
}

.table-product {
    text-align: left;
    padding: 10px;
}

.table-product img {
    margin-right: 10%;
}

.head-order tr th {
    font-weight: normal;
}

.img-order {
    width: 90px;
}

td .bkg-light-blue {
    background-color: #EAFBFF;
    width: 25px;
    border: none;
}

.total {
    text-align: end;
    padding: 20px 10px 20px 10px;
    background-color: #EAF5F8;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

.forms {
    justify-content: space-between;
    margin-top: 30px;
    align-items: baseline;
}

.forms-detail {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    width: 30%;
}

.form-personal {
    margin-right: 1.5%;
}

.form-location {
    margin: 0 1.5%;
}

.form-payment {
    margin-left: 1.5%;
}

.forms-detail-head {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.forms-detail-head img,
.form-payment-bank-slip img {
    margin-right: 10px;
}

.input-100 {
    width: 100%;
}

.input-50 {
    width: 50%;
}

.input-form {
    padding: 10px;
    display: block;
    width: -webkit-fill-available;
}

.form-payment-bank-slip {
    margin: 20px 0;
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
}

.payment-bank-slip {
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.form-payment-bank-slip p {
    font-size: 12px;
}

.payment-bank-slip-detail {
    justify-content: space-between;
    margin-top: 35px;
}

.payment-bank-slip-detail,
.form-payment-bank-slip p {
    text-align: end;
}

#protected {
    height: 25px;
}