header {
    justify-content: space-evenly;
    background-color: #012E59;
    color: white;
    padding: 15px 0;
    height: 50px;
}

header input, header input::after {
    border-radius: 20px;
    border: none;
    width: 30%;
    padding: 10px 20px;
}

.logo {
    height: 40px;
}

.item-header, .search button img {
    height: 30px;
}

.flex-row { 
    align-items: center;
    display: flex;
    flex-direction: row;
}

.user img {
    margin-right: 15px;
}

.cart {
    border-radius: 55px;
    background-color: #012E59;
    border: none;
    transition: filter 0.2s;
    height: 50px;
    width: 55px;
}

.cart:hover {
    filter: brightness(0.9);
}