<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">

    <title>JM Games</title>
</head>
<body>
    <header class="flex-row">
        <!-- Adicionado dinamicamente em cada tela -->
    </header>

    <script src="../controllers/utils.js"></script>
    <script src="../controllers/index.js"></script>
</body>
</html>